* {
  box-sizing: $value-border-box;
}

.body {
  display: $value-flex;
  flex-direction: $value-column;
  height: $value-hundred-vh;
  margin: $value-zero-vw;
  padding: $value-zero-vw;
  font-family: $font-family-sans-serif;
  font-size: $font-size-text;
  line-height: $value-twenty-four;
  background-color: $light;
  color: $blue-400;
}

.header {
  padding-top: $value-two-vh;
  padding-right: $value-two-vh;
}

.main, .container {
  max-width: $value-eight-hundred-px;
  margin: $value-auto;
}

.footer {
  margin-top: $value-one-half-rem;
  font-size: $value-zero-seventy-five;
  text-align: $value-center;
  padding: $value-ten-vh;
  padding-bottom: $value-two-vh;
  background-color: $light;
}

.logo {
  font-size: $font-size-highlight;
  font-weight: $value-bold;
}

.text--highlight {
  font-size:  $font-size-article-highlight;
  line-height: $value-twenty-four;
}


.background--blue {
  background-color: $blue-100;
}

.title {
  font-size: $font-size-title;
  text-align: $value-center;
  padding: $value-two-vh;
  padding-top: $value-ten-vh;
}

.container--flex {
  display: $value-flex;
}

.container--flex__column, .container--flex__text {
  flex: $value-one;
  margin: $value-ten-px;
  text-align:  $value-center;
}

.container--flex__column {
  background-color: $blue-100;
}

.container--flex__text  {
  font-size: $font-size-text;
  .container--flex__text--title {
    font-size: $font-size-highlight;
  }
}

.article--frame {
  background-color: $blue-100;
  text-align: $value-center;
  padding: $value-ten-vh;
  margin-bottom: $value-ten-vh;
}

/* media query styles adapted for tablets and desktops*/
@media (min-width: $tablet-min-devices) {

}

/* media query for tablets */
@media (min-width: $tablet-min-devices) and (max-width: $tablet-max-devices) {
  .container--flex__column {
    height: 150px;
  }
}

/* media query for desktops */
@media (min-width: $desktop-min-devices) {
  .container--flex__column {
    height: $value-two-hundred-px;
  }
}